github "ReactiveCocoa/ReactiveCocoa" ~> 9.0
github "aloco/SimpleButton" ~> 4.0
github "Alamofire/AlamofireImage" ~> 3.5
github "allaboutapps/DataSource" ~> 7.0
github "allaboutapps/Fetch" ~> 1.0
github "kishikawakatsumi/KeychainAccess" ~> 3.2
