.DS_Store

## Swift Package Manager
**/.build/
**/.swiftpm/
Packages/
Package.resolved

## Xcode
DerivedData/
*.xcodeproj
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside

## Obj-C/Swift specific
*.hmap
*.ipa
